@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    font-family: 'Montserrat', sans-serif; background-image: url(https://img3.goodfon.ru/original/1920x1080/d/61/devushka-afroamerikanka-chernaya.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-color:   #696969;
    background-size: cover;
    background-position: 75%;
    background-position-x: 75%;
    background-position-y: center;
}

#register, 
#login {

    position: absolute;
    justify-content: center;
    align-items: center;
    top: 100px;
    width: 50%;	
    height: 60%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 0 20%;
    background: rgb(247, 247, 247);
     border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#register {	
    z-index: 21;
}
#login {
    z-index: 22;
}

#wrapper h1 {
    font-size: 48px;
    color: #3da35a;
    padding: 2px 0 10px 0;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
/** Только webkit браузеры поодерживают background-clip:text; */

#wrapper h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: 
        -moz-linear-gradient(left, rgba(147,184,189,0) 0%, 
                                   rgba(147,184,189,0.8) 20%, 
                                   rgba(147,184,189,1) 53%, 
                                   rgba(147,184,189,0.8) 79%, 
                                   rgba(147,184,189,0) 100%); 
    background: 
        -webkit-gradient(linear, left top, right top, 
                         color-stop(0%,rgba(147,184,189,0)), 
                         color-stop(20%,rgba(147,184,189,0.8)), 
                         color-stop(53%,rgba(147,184,189,1)), 
                         color-stop(79%,rgba(147,184,189,0.8)), 
                         color-stop(100%,rgba(147,184,189,0))); 
    background: 
        -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,
                                      rgba(147,184,189,0.8) 20%,
                                      rgba(147,184,189,1) 53%,
                                      rgba(147,184,189,0.8) 79%,
                                      rgba(147,184,189,0) 100%); 
    background: 
        -o-linear-gradient(left, rgba(147,184,189,0) 0%,
                                 rgba(147,184,189,0.8) 20%,
                                 rgba(147,184,189,1) 53%,
                                 rgba(147,184,189,0.8) 79%,
                                 rgba(147,184,189,0) 100%); 
    background: 
        -ms-linear-gradient(left, rgba(147,184,189,0) 0%,
                                  rgba(147,184,189,0.8) 20%,
                                  rgba(147,184,189,1) 53%,
                                  rgba(147,184,189,0.8) 79%,
                                  rgba(147,184,189,0) 100%); 
    background: 
        linear-gradient(left, rgba(147,184,189,0) 0%,
                              rgba(147,184,189,0.8) 20%,
                              rgba(147,184,189,1) 53%,
                              rgba(147,184,189,0.8) 79%,
                              rgba(147,184,189,0) 100%); 
}

::-webkit-input-placeholder  { 
    color: rgb(190, 188, 188); 
}
 
input:-moz-placeholder,
textarea:-moz-placeholde r{ 
    color: rgb(190, 188, 188);
} 
 
input {
    outline: none;
}

#wrapper input:not([type="checkbox"]) {
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;	
    border: 1px solid rgb(178, 178, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus {
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: #3da35a;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

#wrapper p.button input{
    width: 30%;
    cursor: pointer;	
    background: #3da35a;
    padding: 8px 5px;
    color: #fff;
    font-size: 24px;	
    border: 1px solid rgb(28, 108, 122);	
    margin-bottom: 10px;	
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;	
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	                0px 0px 0px 3px rgb(254, 254, 254),
	                0px 5px 3px 3px rgb(210, 210, 210);
    -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	            0px 0px 0px 3px rgb(254, 254, 254),
	            0px 5px 3px 3px rgb(210, 210, 210);
    box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
               0px 0px 0px 3px rgb(254, 254, 254),
               0px 5px 3px 3px rgb(210, 210, 210);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#wrapper p.button input:hover{
    background: #3da35a;
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
    background: rgb(40, 137, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);	
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
    text-align: right;
    margin: 5px 0;
}

#register{ 
    z-index: 21;
    opacity: 0;
}

#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
    z-index: 22;
    animation-name: fadeInLeft;
    animation-delay: .1s;
}

.animate{
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
    animation-name: fadeOutLeftBig;
}
 
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
 
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}